@model ChrisJohnInfo.Blog.MvcUI.Areas.Admin.ViewModels.PostViewModel
<h1>Edit Post</h1>

@using (Html.BeginForm())
{
    <input type="hidden" asp-for="Post.PostId" />

    <div class="row">
        <div class="form-group col-6">
            <label asp-for="Post.DatePublished">Date Published</label>
            <input type="text" asp-for="Post.DatePublished" class="form-control datepicker" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <label asp-for="Post.AuthorId">Author</label>
            <select asp-for="Post.AuthorId" asp-items="Model.Authors" class="form-control focus-me">
                <option value="">-- Select Author --</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col">
            <label asp-for="Post.Title">Title</label>
            <input type="text" asp-for="Post.Title" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col">
            <label asp-for="Post.Content">Content</label>
            <textarea asp-for="Post.Content" style="height: 200px;" class="form-control"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <a asp-action="Index" class="btn btn-light">Cancel</a>
            <button value="updateOnly" name="updateAction" class="btn btn-primary">@(Model.Post.PostId == Guid.Empty ? "Create" : "Update")</button>
            <button value="updateAndExit" name="updateAction" class="btn btn-primary">@(Model.Post.PostId == Guid.Empty ? "Create" : "Update & Exit")</button>
        </div>
    </div>
}
