@page
@model ChrisJohnInfo.Blog.AdminUI.Pages.Posts.EditModel
<h1>Edit Post</h1>
<div class="row">
    <div class="col-6">
        @using (Html.BeginForm())
        {
            <input type="hidden" asp-for="Post.PostId" />

            <div class="form-group">
                <label asp-for="Post.DatePublished">Date Published</label>
                <input type="text" asp-for="Post.DatePublished" class="form-control datepicker" />
            </div>
            <div class="form-group">
                <label asp-for="Post.AuthorId">Author</label>
                <select asp-for="Post.AuthorId" asp-items="Model.Authors" class="form-control focus-me">
                    <option value="">-- Select Author --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Post.Title">Title</label>
                <input type="text" asp-for="Post.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Post.Content">Content</label>
                <textarea asp-for="Post.Content" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <a asp-page="/Posts/Index" class="btn btn-light">Cancel</a>
                <button class="btn btn-primary">@(Model.Post.PostId == Guid.Empty ? "Create" : "Update")</button>
            </div>
        }
    </div>
</div>

