@page
@model ChrisJohnInfo.Blog.AdminUI.Pages.Posts.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Posts</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Date Published</th>
        <th><a asp-page="/Posts/Create" class="btn btn-primary">Create</a></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in Model.Posts)
    {
        <tr>
            <td>@post.Title</td>
            <td>@($"{post.DatePublished:d}")</td>
            <td>
                <a asp-page="/Posts/Edit" class="btn btn-primary" asp-route-id="@post.PostId">Edit</a>
                <a asp-page="/Posts/Delete" class="btn btn-danger" asp-route-id="@post.PostId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
