@page
@model ChrisJohnInfo.Blog.AdminUI.Pages.Authors.EditModel

<h1>@(Model.Author.AuthorId == 0 ? "Create" : "Edit") Author</h1>
<div class="row">
    <div class="col-6">
        @using (Html.BeginForm())
        {
            <input type="hidden" asp-for="Author.AuthorId" />
            <div class="form-group">
                <label asp-for="Author.FirstName">First Name</label>
                <input asp-for="Author.FirstName" class="form-control focus-me"/>
            </div>

            <div class="form-group">
                <label asp-for="Author.LastName">Last Name</label>
                <input asp-for="Author.LastName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Author.NickName">Nick Name</label>
                <input asp-for="Author.NickName" class="form-control" />
            </div>

            <div class="form-group">
                <a class="btn btn-light" asp-page="/Authors/Index">Cancel</a>
                <button class="btn btn-primary">@(Model.Author.AuthorId == 0 ? "Create" : "Update")</button>
            </div>
        }
    </div>
</div>


