@model IEnumerable<ChrisJohnInfo.Blog.MvcUI.Models.PostViewModel>
@foreach (var post in Model.OrderByDescending(p => p.DatePublished))
{
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">@post.Title</h2>
            <p class="post-meta">By <b>@post.AuthorName</b> on <b>@($"{post.DatePublished:d}")</b></p>
        </header>
        <div class="post-description">
            @Html.Raw(post.Content)
        </div>
    </section>
}