<section class="post">
    <header class="post-header">
        <h2 class="post-title">The Blog Project</h2>
        <p class="post-meta">By <b>ChrisJohn</b> on <b>May 4, 2020</b></p>
    </header>
    <div class="post-description">
        <p>What is <i>The Blog Project</i>?  My current role doesn't require much of my software skills.  There is a longer story there, but for now, let's just say I need a challenge.  My skill set and the things I love doing includes setting up environments, constructing the build pipelines, building out testing frameworks and tests, designing software architecture and picking the right tools for the job. I also love building tools that help other developers and myself work with whatever project just a little bit easier, automating tasks as much as possible.  I love building tools! Unfortunately for me, <b>none of my skills are needed where I work :(</b></p>
        <p><i>The Blog Project</i> is my way of practicing what I love: building software and all of the supporting infrastructure and tooling that goes along with it.  I have had an urge to start blogging but I always get stuck on topics.  I also have an itch for doing screen casts, more on that one later.  So I'm starting a project that I want public, it's a blog.  Not super exciting, I know.  But the <b>goal of the project is the process</b>, not the product.</p>
        <p>The source code for this app is located at <a href="https://github.com/ChrisJCarter/chrisjohninfo-blog" target="_blank">https://github.com/ChrisJCarter/chrisjohninfo-blog</a>.  I'm writing this first blog post from inside Visual Studio, not ideal but it's a start.  Next up is the project plan, and just trying to identify what exactly I want for the end product so there is a clear path so I can stay focused on the outcome.  Since I work best under pressure, the <b>target date</b> for this is going to be on or before my birthday which is on <b>June 18</b>, that gives me 46 days from today to get it all done.  The project needs to include everything required to get a cloud solution released to production along with continuous integration build pipeline, everything must be automated.  Most importantly, <b>everything needs to be documented in a blog post and/or screen cast.</b></p>
    </div>
</section>
